* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family: "NTR",sans-serif;
}

section {
    padding: 2rem;

}

/* styling for name logo in top left */
.logo{
    float: left;
    overflow: hidden;
}

.logo-span {
    color: #93A8AC;
}


.logo a {
    color: #EDF4ED;
    font-size: 30px;
    text-align: center;
    display: block;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-weight: 750;
    letter-spacing: 2px;
}

/* contact section css */

#contact{
    justify-content: center;
    z-index: 0;
    background:#93A8AC;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#contact a{
    text-decoration:none;
    font-size: 25px;
    color: black;

}

#contact a:hover{
    color: white;
}

.contact {
    justify-content: center;
    text-align: center;
    max-width: 750px;
}

.contact-center {
    max-width: 750px;
    position: relative;
    margin: 0;
}

.contact-content {
    max-width: 750px;
    font-size: 20px;
    margin: 0;
    justify-content: center;
}

.section-header {
    font-weight: 800;
    letter-spacing: 1.5px;
}

/* project section css */

#portfolio{
    background:white;
    display: flex;
    justify-content: center;
    z-index: 0;
    flex-wrap: wrap;
    align-content: center;
}

.portfolio-section {
    width: 790px;
    padding: 20px;
}

.portfolio-header {
    text-align: left;
    justify-content: left;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.5px;

}

.portfolio-text {
    padding: 10px;
    font-size: 20px;
}

.portfolio-text a{
    text-decoration:none;
    color: black;
    font-weight: bold;
}

.portfolio-text a:hover {
    color: #424B54;
}

.portfolio-content {
    
    font-size: 20px;
    margin: 0;
    font-family: "NTR", sans-serif;
    letter-spacing: 1px;
    transform: translateX(-75px);
    justify-content: center;
    align-items: center;
}

.projects-grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 10px;
}

@media (max-width: 1080px) {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.projects-card {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    background-color: #424B54;
    border-radius: 16px;
}

.projects-card:hover{
    transform: translateY(-7px);
    background-color: #485058;;
}

.card-header {
    margin-top: -20px;
    display: flex;
    padding: 1.25em 0 !important;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none !important;
}

.github-icon {
    margin-top: 6px;
}

.github-icon:hover {
    color: var(--green-bright);
}

.card-title {
    font-family: "NTR", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}

.card-desc {
    font-family: "NTR", sans-serif;
    color: white;
    font-size: 17px;
    padding-bottom: 40px;
}

.card-tech {
    font-family: "NTR", sans-serif;
    color: white;
    font-size: 14px;
}
grid-container ul{
    list-style: none;
}

/* about section css */

#about-me{
    display: flex;
    justify-content: center;
    z-index: 0;
    flex-wrap: wrap;
    background: #93A8AC;
    align-content: center;
}

.about {
    justify-content: left;
    text-align: left;
    padding: 20px;
    transform: translateY(10px);
}

.about-center {
    max-width: 750px;
}

.about-content {
    max-width: 750px;
    font-size: 20px;
    margin: 0;
    justify-content: left;
    font-family: "NTR", sans-serif;
    letter-spacing: 1px;
}

.about-header {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.about-text {
    padding: 10px;
    font-size: 20px;
}

.about-text a{
    text-decoration:none;
    color: black;
    font-weight: bold;
}

.about-text a:hover {
    color: white;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #93A8AC;
    font-family: "NTR",sans-serif;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: .5px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: "NTR",sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
  .tab button.active {
    background-color: #E2B4BD;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    letter-spacing: 1px;
    font-size: 20px;
}

.date {
    padding: 10px;
    font-size: 15px;
}


/* home section styling */
#home {
    background: white;
    height: 1000px;
    z-index: 0;
    position: relative;
}

.row {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
    flex-wrap: wrap;
}

.left {
    flex: 50%;
    padding: 20px;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateY(10px);

}

.right {
    flex: 50%;
    padding: 20x;

}

.profile {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.home-header {
    justify-content: center;
    font-size: 45px;
    font-weight: 800;
    font-family: "NTR",sans-serif;
}

.home-info {
    justify-content: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

/* responsive layout -> make columns stack instead of next to each other on mobile screen */
@media screen and (max-width: 600px) {
    .row {   
      flex-direction: column;
    }
}

.topnav {
    background-color: #424B54;
    overflow: hidden;
    z-index: 3;
}

/*.topnav a {
    float: right;
    display: block;
    color: #EDF4ED;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
	font-size: 15px;
} */

.topnav .icon {
    display: none;
}

.nav-content a{
    float: right;
    display: block;
    color: #EDF4ED;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
	font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: #EDF4ED; 
    padding: 20px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #424B54;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.dropdown-content a{
    float: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, 
.dropdown:hover .dropbtn {
    color: #93A8AC;
  }

.dropdown-content a:hover {
    color: #93A8AC;
}

.dropdown:hover .dropdown-content { 
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

/* media query to enable responsiveness */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), 
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.content {
    padding: 15px;
}

/* sticky to be added */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 60px;
}

.button, .dropdown{
    background-color: #424B54;
    color: #EDF4ED;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    
}

.ending {
    text-align: center;
    font-size: 15px;
    background-color: white;
}
